body {
    overflow-x: hidden;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    font-size: 80px;
}

.skills > i  {
    border: 2px solid #efefef;
    border-radius: 3px;
    padding: 1rem;
    margin: 1rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.skills i:hover {
    border-color: #49bf9d;
}
